@media screen and (min-width: 480px) {


/***********************************
Two Column layout
************************************/
#primary {
  width:100%;
  margin: auto;
 
  }
#secondary {
   
  }


/***********************************
PAGE: PORFOILO
************************************/

#gallery li {
  width: 28.3333%;
}

#gallery li:nth-child(4n) {
  clear: left;
}




/***********************************
PAGE: ABOUT
************************************/

.profile_photo {
  border-radius: 100%;
  }

/************************************/




@media screen and (min-width: 660px)  {
  
  
/***********************************
HEADER
************************************/
  nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
  }
  
  #logo {
    float: left
    margin-left: 2%;
    text-align: left;
    width: 45%;
  }
  
  h1 {
    font-size:2.5em;
    line-height: 2em;
  }
  h2  {
    font-size: 1.75em;
    margin-bottom: 20px;
    color: #ffa500;

  h3 {
    font-size: 1em;


  }
  
  }
header  {
  
  }
}