/* Paul Irish Box-Sizing: Border-Box reset - apply a natural box layout model to all elements, but allowing components to change http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/**
 * HTML5 display-role reset for older browsers
 */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1.75;
}
ol, ul {
    list-style: none;
    overflow: auto;
}

a {
    text-decoration: none;
    color: gray;
}
a:hover {
    color:steelblue;
}

/************************
 * End of Reset
 ************************/
/************************
 * Start of Custom Styles
 ************************/
body {
    /*background-color: LightGray;*/
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
.content {
    padding: 0 0.938rem;
    margin: 0 auto;
    min-width: 37.5rem;
}

.box {
  border-radius: 20px 10px;
}

img {

    border-radius: 20px 10px;
    width: 75%;
}

/*********************
 * Navigation Section
 *******************/

.masthead-heading {
    color: #00ced1;
    font-size: 20em;
    float: left;
    margin-right: 400px;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-shadow: 1px 1px 1px #222;
}

.top-navigation {
    top:0px;                                     
    background-color: #fff;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #DDD;
    z-index: 9999;
   
}

.top-navigation > .content {
    height: 4.375rem;
    float: right;
    padding-bottom: 1em;
    margin-bottom: .8em;
    margin-right: 2em;

}
.top-navigation .links {
    float: right;
    color: #838994;
    font-size: 1.04rem;
    margin-top: 3em;
    margin-left: 17.5rem;
}
.top-navigation .links li {
    display: inline-block;
    margin-left: 1.563rem;
    text-decoration: none;

}
.top-navigation .links li.active {
    color: #4c5058;
    font-weight: 500;
    text-decoration: none;
}
.top-navigation .links li:hover {
    cursor: pointer;
    color: #333333;
}

.top-navigation .links li:visited {
    color: #00CED1;
    text-decoration: none;
}

/**********************
 Introduction Section
 **********************/
.introduction {
     background:linear-gradient(#00CED1, transparent 10%),

                linear-gradient(5deg,#fff, transparent ), 

                #00CED1 url('../images/plants.jpg') no-repeat center;

    background-size: cover;
    height: 45.938rem;
    text-align: center;
    overflow: auto;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 2%;
    padding: 20px 20px;
    color: #504a4b;
}
.circle {
	display: inline-block;
	margin-top: 2.0em;
	margin: center;
	height: 600px;
	width: 600px;
	border-radius: 100%;
	border: 4px solid LightGray;
}
#circle_head {
	text-align: center;
	padding: .5em 1em;
	color:#fff;
	font-family: Nevis, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px gray;
	font-weight: bold;
	font-size: 55px;
	padding: 1em .5em;
}

.introduction h1,
.introduction h3 {
    text-align: center;
    padding: 0 2em;
}
.introduction h1 {
    margin-top: 3.5rem;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 3rem;
    color: gray;
    text-shadow: 1px 1px 1px gray;
}
.introduction h3 {
    margin-top: 1.25rem;
    margin-left: 2em;
    margin-right: 2em;
    font-size: 2.0rem;
    color: #FFF;
    font-family: Roboto, Helvetica, sans-serif;
}

/************************
About me introduction
************************/

.about_introduction {
    background:linear-gradient(#00CED1, transparent 40%),

                linear-gradient(0deg,#fff, transparent ),

                #00CED1 url('../images/mac-glasses.jpg') no-repeat center;

    background-size: cover;
    height: 50.938rem;
    text-align: center;
    overflow: auto;
    margin-top: 5%;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10%;
    padding: 20px 20px;
    color: #504a4b;

}

.about_intro_section h1 {
    font-size: 3.2em;
    margin-top: 0 2em 1em;
    margin-bottom: 0.1em;
    padding-top: 0.63em;
    font-weight: 300;
    color: steelblue;
    text-align: left;
}

.about_intro_section h2 {
    font-size: 2em;
    text-align: left;
    margin: 0.5em 2em 1em 2em;
    font-style: bold;
    font-family: 'Robot',Helvetica, sans-serif;
    color: #00CED1;

}
.about_intro_section p {

    font-size: 1.5em;
    text-align: left;
    margin-left: 4em;
    margin-right: 4em;
    font-weight: 200;
    padding: 1em;
}


/*******************
Portfolio Page
********************/
.profile-photo {
    margin-top: 5em;
    width: 15%;
}

.portfolio_introduction {
    background:linear-gradient(#00CED1, transparent 5%),

                linear-gradient(0deg,#fff, transparent ), 

                #00CED1 url('../images/art_tools.jpg') no-repeat center;

    background-size: cover;
    height: 45.938rem;
    text-align: center;
    overflow: auto;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10%;
    padding: 20px 20px;
    color: #504a4b;
}


/***********************
Contact Page
*************************/
.contact_introduction {
background:linear-gradient(#00CED1, transparent 5%),

                linear-gradient(0deg,#fff, transparent ), 

                #00CED1 url('../images/cellphone.jpg') no-repeat center;

    background-size: cover;
    height: 45.938rem;
    text-align: center;
    overflow: auto;
}

.portfolio_content h1 {
    font-size: 2.5em;
    margin: 2em auto 0; 
    padding: 0 2em;
    font-weight: 600;
    color: #00CED1;
    text-align: left;
}

.portfolio_content h2 {
    color:#504a4b;
    font-size: 1.5em;
    font-style: bold;
    text-align: left;
    padding: 0 2em;
    margin-left: 2rem;
    margin-right: 2rem;


}

.portfolio_content h3 {
    text-align: center;
    font-size: 1.5em;
    margin: 1em 1em;
    color:steelblue;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  }

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: #f5f5f5;
  color: #bdc3c7;
}

#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 0.75em;
  color: steelblue;
}
/****************************
 * The Services Images
 ***************************/

 .desktop_devices {
    margin-top: 2.875rem;
    color: #1d1e21;
    text-align: center;
    width: 127px;
    height: 127px;
    margin-left: 30rem;
}


..cases {
    background-color: #fff;
    overflow: hidden;
    padding-left: 18rem;
    padding-right: 18rem;
    padding-bottom: 5rem;
    padding-top: 1rem;
    margin-left: auto;
    margin-right: auto;

}
.cases .content {
    margin-top: 2.875rem;
    padding left: 380px;
    color: #1d1e21;
    text-align: center;

}
.cases h2 {
    font-size: 2.75rem;
    margin: 1.625rem 0 3.125rem;
    font-weight: 300;
}
.cases .devices > li {
    width: 33.3333333%;
    float:left;
}
.cases .devices h3 {
    font-weight: 400;
    font-size: 1.563rem;
    margin: 2.5rem 0px 1.875rem;
}
.cases .devices p {
    font-weight: 300;
    font-size: 1.313rem;
}

/*********************
 * Footer
 ********************/
.social {
    background-color: #00CED1;
    color:#fff;
    overflow: auto;
    padding-bottom: 2.575rem;
    text-align: center;
}
.social hr {
    border: 0;
    border-top: 1px solid #00CED1;
    margin: 1.313rem 0;
}
.social .icons > li {
    border-radius: 1.25rem;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-block;
    margin: .25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.25rem 0;
    text-align: center;

}
.social .icons > li:hover {
    list-style-type: none;
    cursor: pointer;
    opacity: .7;
    color: #fff;
}
.social h5 {
    color:#fff;
    margin-bottom: 1em; 
}



/***********************
 * button
 **********************/
button {
    margin: 0px;
    height: 5rem;
    width: 15rem;
    background-color: 843200;
    border-color: #843200;
    display: inline-block;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 1.125rem;
    margin-left: 600px;
    font-weight: bold;
    font-family: Tahoma;
    text-align: center;
}
button:hover {
    background-color: #fff;
    color: #fff;
    border-color: #cf3d0e;
    cursor: pointer;
}
#meet_me button:hover {
	background-color: gray;
    color: #fff;
}
/**********************************
* Media Queries 
***********************************/

@media 


